body{
    background-color: rgb(255, 255, 255);
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
    
.principal{
    text-align: center;

}
.in1{
    max-width: 100%;
        height: auto;
    padding: 15px;
    }
    @media (min-width: 768px) {
        .in1 {
            max-width: 70%;
            margin: 0 auto;
        }
}

.in2{
    width: 100px;
    height: 50px;
}

.im3{
    width: 300px;
    height: 200px;
}

.im4{
    width: 50px;
    height: 50px;
    margin: 15px;

    @media (min-width: 768px) {
        .im4 {
            max-width: 40%;
            margin: 0 auto;
        }
    }
}

.divFlexMarcas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}


.txt1{
    color:#3F8EEA;
    text-align: center;
    font-size: 32px;
font-family: 'Roboto Mono', monospace;

@media (max-width: 767px) {
    font-size: 1.5rem;
}

}

.txt1B{
    color:#EA3F7D;
    text-align: center;
    font-size: 45px;
font-family: 'Roboto Mono', monospace;
}
.txt2{
    color: #EA3F7D;
}

.txt3{
    color: black;
    font-size: 28px;
    text-align: center;
    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}

.txt4{
    color: rgb(255, 255, 255);
}

.txt5{
    color: #3F8EEA;
    text-align: center;
    font-size: 24px;
font-family: 'Roboto Mono', monospace;
}
.tickcounter {
    font-size: 1.2rem;
    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    justify-content: left;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;

}

