$body-background-color: rgb(255, 255, 255);
$body-display: grid;
$body-font-family: 'Verdana, Geneva, Tahoma, sans-serif';

body {
    background-color: $body-background-color;
    display: $body-display;
    font-family: $body-font-family;
}

$principal-text-align: center;

.principal {
    text-align: $principal-text-align;
}

$in1-max-width: 100%;
$in1-height: auto;
$in1-padding: 15px;

.in1 {
    max-width: $in1-max-width;
    height: $in1-height;
    padding: $in1-padding;

    @media (min-width: 768px) {
        max-width: 70%;
        margin: 0 auto;
    }
}

$in2-width: 100px;
$in2-height: 50px;

.in2 {
    width: $in2-width;
    height: $in2-height;
}

$im3-width: 300px;
$im3-height: 200px;

.im3 {
    width: $im3-width;
    height: $im3-height;
}

$im4-width: 50px;
$im4-height: 50px;
$im4-margin: 15px;

.im4 {
    width: $im4-width;
    height: $im4-height;
    margin: $im4-margin;

    @media (min-width: 768px) {
        max-width: 40%;
        margin: 0 auto;
    }
}

$im5-width: 100%;

.im5 {
    width: $im5-width;
    height: auto;
}

.divFlexMarcas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

$container-padding: 20px;

.container {
    padding: $container-padding;
}

$txt1-color: #3F8EEA;
$txt1-text-align: center;
$txt1-font-size: 32px;

.txt1 {
    color: $txt1-color;
    text-align: $txt1-text-align;
    font-size: $txt1-font-size;
    font-family: 'Roboto Mono', monospace;

    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}

$txt1B-color: #EA3F7D;
$txt1B-text-align: center;
$txt1B-font-size: 45px;

.txt1B {
    color: $txt1B-color;
    text-align: $txt1B-text-align;
    font-size: $txt1B-font-size;
    font-family: 'Roboto Mono', monospace;
}

$txt2-color: #EA3F7D;

.txt2 {
    color: $txt2-color;
}

$txt3-color: black;
$txt3-font-size: 28px;
$txt3-text-align: center;

.txt3 {
    color: $txt3-color;
    font-size: $txt3-font-size;
    text-align: $txt3-text-align;

    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}

$txt4-color: rgb(255, 255, 255);

.txt4 {
    color: $txt4-color;
}

$txt5-color: #3F8EEA;
$txt5-text-align: center;
$txt5-font-size: 24px;

.txt5 {
    color: $txt5-color;
    text-align: $txt5-text-align;
    font-size: $txt5-font-size;
    font-family: 'Roboto Mono', monospace;
}

$tickcounter-font-size: 1.2rem;

.tickcounter {
    font-size: $tickcounter-font-size;

    @media (max-width: 767px) {
        font-size: 1rem;
    }
}

h1, h2, h3 {
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

h2 {
    font-size: medium;
    justify-content: left;
}

h3 {
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-size: 25px;
    text-align: center;
}

$button-height: 40px;
$button-width: 120px;
$button-padding: 10px;
$button-text-align: center;
$button-margin: auto;
$button-display: block;

.button {
    height: $button-height;
    width: $button-width;
    padding: $button-padding;
    text-align: $button-text-align;
    margin: $button-margin;
}
