body {
    background-color: #964a4a
}

.in1{
    width: 300px;
    height: 200px;
    border: 1px solid #ddd;
}
.in2{
    width: 600px;
    height: 600px;
    border: 1px solid #ec0101;
}

.txt1{
    color:rgb(202, 0, 121)
}

.txt2{
    color:beige
}

h1{
    font-family: 'Nosifer', sans-serif;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-family: 'Open Sans', sans-serif;

}